/* COLORS */

body {
    /* background: linear-gradient(to bottom, rgba(15, 78, 212, 1), rgba(15, 78, 212, 0.3)); */

    /* background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80'); */
}

.second-heading {
    /* color: blue; */
    /* color: #597ecf */
    /* RGB - (RED, Green, Blue) */

    color: rgb(174, 196, 242)

}

/* GRADIENTS */

/* LINER GRADIENT */
.container-one {
    height: 300px;
    width: 70%;

    /* liner-gradient(direction, listOfColors) */
    /* background: linear-gradient(to right, red, green, blue, yellow, white); */
    /* background-color: red; */

    /* background: linear-gradient(to right, rgba(15, 78, 212, 1), rgba(15, 78, 212, 0.3)); */

    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
}